*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.JoinPage{
    background-color: rgb(99, 187, 143,0.5);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.JoinContainer{
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.JoinContainer>img{
    width: 25%;
    height: 10vmax;
    margin-left: 15px;
    margin-bottom: -2vmax;
}
.JoinContainer > h1{
    border-bottom: 0.2vmax solid rgb(221, 5, 152);
    width: 30vmax;
    text-align: center;
}
.JoinContainer > #joinInput{
    padding: 5px 15px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    outline: none;
    font-size: 1.1rem;
    width: 20vmax;
    font-family:Georgia, 'Times New Roman', Times, serif;

}
.joinBtn{
    padding: 5px 0rem;
    font-size: 1.2rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: crimson;
    color: rgb(55, 53, 53);
    width: 20vmax;
    transition: 0.5s all;
}
.joinBtn:hover{
    background-color: teal;
    color: rgb(33, 201, 168);
    font-size: 1.2rem;
    text-align: center;
    word-spacing: 5px;
    letter-spacing: 5px;
    cursor: pointer;
    transform: scale(0.8, 1.1);
    border: none;
}

@media screen and (max-width:500px) {
    .JoinContainer>img{
        width: 50%;
        height: 10vmax;
        margin-bottom: -2vmax;
    }
    .JoinContainer > h1{
        width: 20vmax;
        font-size: 2vmax;
    }
    .JoinContainer > #joinInput{
        padding: 5px 15px;
        font-size: 0.7rem !important;
        width: 20vmax;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    .joinBtn{
        padding: 5px 0rem;
        font-size: 2vmax;
        border: none;
        font-family: Georgia, 'Times New Roman', Times, serif;
        width: 20vmax;
    }
    .joinBtn:hover{
        font-size: 1.2rem;
        text-align: center;
        word-spacing: 1px;
        letter-spacing: 2px;
        transform: scale(1);
        border: none;
    }
}